<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uiuaa.My.MySettings.DB_CONTOHConnectionString" connectionString="Data Source=home-pc;Initial Catalog=DB_CONTOH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="uiuaa.My.MySettings.DB_BUDGETINConnectionString" connectionString="Data Source=home-pc;Initial Catalog=DB_BUDGETIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>